
<ion-content>
  <body>
    <ion-app>
      <ion-menu side="start" content-id="main-content">
        <ion-header>
          <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item [routerLink]="['/profile']">
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
            <ion-item (click)="signOut()">
              <ion-icon name="power-sharp"></ion-icon>
              <ion-label>Se Déconnecter</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-icon name="search-outline" slot="end" [routerLink]="['/search']"></ion-icon>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item *ngFor="let item of items |async">
            <ion-avatar slot="start">
              <img src='../../assets/icon/Users.png'>
            </ion-avatar>
            <ion-label>
              <h2>{{item.nomComplet}}</h2>
              <h3>{{item.numerotel}}</h3>
              <p>{{item.Adressemail}}</p>
            </ion-label>
          </ion-item>
        </ion-content>
      </div>
    </ion-app>
  </body>
</ion-content>
