<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button slots="start"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="outer">
      <img src='../../assets/icon/Users.png'>
        <div class="inner">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
    </div>
  </div>
  <ion-item>
    <ion-label>
      <h2>{{user.nomComplet}}</h2>
      <h4>{{user.numerotel}}</h4>
      <p>{{user.Adressemail}}</p>
    </ion-label>
  </ion-item>
  <ion-text color="medium"><p class="ion-margin-horizontal" [routerLink]="['/nouveau-pass']">Modifier le mot de passe</p></ion-text>
  <section>
    <ion-button expand="block" [routerLink]="['/acceuil']">Retour</ion-button>
  </section>
</ion-content>
